#btnhome {
  margin-left: 121px;
  margin-top: 1px;
  width: 84px;
  height: 45px;
  background: transparent;
  border: none;
  color: #c7ad7f;
  font-size:14px;
  font-weight:700;
}
.thumbnail{
  width: 2%;
  height: 2%;
  overflow: auto;
}


.navbar-expand-lg {
  background-image: linear-gradient(to right, #654321, #c7ad7f);

}

#nav-bar {
  background-image: linear-gradient(#c7ad7f, beige);
}
