/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
    background-color:#c7ad7f;
}
.container-fluid {
  background-color: #c7ad7f;
}

.header {
  background-color: #c7ad7f;
}
