			/* Styling for Height of Map */
			#map {
				height: 400px;
        width: 400px;
				background-color: grey;
			}

			/* Styling for full page display of Map */

			/* Styling for Map side-bar popout upon result */
			#panel {
				height: 100%;
				width: null;
				background-color: white;
				position: fixed;
				z-index: 1;
				overflow-x: hidden;
				transition: all .2s ease-out;
			}

			.open {
				width: 250px;
			}

			/* Styling for individual location details */
			.hero {
				width: 100%;
				height: auto;
				max-height: 166px;
				display: block;
			}

			.place,
			p {
				font-family: 'open sans', arial, sans-serif;
				padding-left: 18px;
				padding-right: 18px;
			}

			.details {
				color: darkslategrey;
			}

			a {
				text-decoration: none;
				color: cadetblue;
			}
