@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');

body {
  background: url(https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* div box styling */
 .container {
	 margin: auto;
	 width: 650px;
	 height: 100vh;
	 position: relative;
}
 .welcome {
	 background: #c7ad7f;
	 width: 770px;
	 height: 475px;
	 position: absolute;
	 top: 19%;
	 border-radius: 5px;
	 box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
   opacity: 0.9;
}
 .pinkbox {
	 position: absolute;
	 top: -13%;
	 left: 5%;
	 background: #cfb17c;
	 width: 340px;
	 height: 590px;
	 border-radius: 5px;
	 box-shadow: 2px 0 10px rgba(0, 0, 0, .1);
	 transition: all 0.5s ease-in-out;
	 z-index: 2;
   opacity: 0.9;
}
 .nodisplay {
	 display: none;
	 transition: all 0.5s ease;
}
 .leftbox, .rightbox {
	 position: absolute;
	 width: 50%;
	 transition: 1s all ease;
}
 .leftbox {
	 left: -2%;
}
 .rightbox {
	 right: -2%;
}
/* font & button styling */
 h1 {
	 font-family: 'Open Sans', sans-serif;
	 text-align: center;
	 margin-top: 20px;
	 text-transform: uppercase;
	 color: #654321;
	 font-size: 20px;
	 letter-spacing: 4px;
}
 .title {
	 font-family: 'Lora', serif;
	 color: #8e9aaf;
	 font-size: 1.8em;
	 line-height: 1.1em;
	 letter-spacing: 3px;
	 text-align: center;
	 font-weight: 300;
	 margin-top: 20%;
}
 .desc {
	 margin-top: -50px;
	 font-size: 15px;
}
 .account {
	 margin-top: 45%;
	 font-size: 10px;
}
 p {
	 font-family: 'Open Sans', sans-serif;
	 font-size: 0.7em;
	 letter-spacing: 2px;
	 color: #654321;
	 text-align: center;
}
 span {
	 color: #fff;
}
 .flower {
	 position: absolute;
	 width: 120px;
	 height: 120px;
	 top: 46%;
	 left: 29%;
	 opacity: 0.7;
}
 .smaller {
	 width: 90px;
	 height: 100px;
	 top: 48%;
	 left: 38%;
	 opacity: 0.9;
}
 button {
	 padding: 12px;
	 font-family: 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 font-size: 11px;
	 border-radius: 10px;
	 margin: auto;
	 outline: none;
	 display: block;
}
 button:hover {
	 background: #654321;
	 color: #654321;
	 transition: background-color 1s ease-out;
}
 .button {
	 margin-top: 3%;
	 background: #cfb17c;
	 color: #654321;
	 border: solid 1px #fff;
}
/* form styling */
 form {
	 display: flex;
	 align-items: center;
	 flex-direction: column;
	 padding-top: 7px;
}
 .more-padding {
	 padding-top: 1px;
}
 .more-padding input, .more-padding select {
	 padding: 1px;
}
 .more-padding .submit {
	 margin-top: 5px;
}
 .submit {
	 margin-top: 25px;
	 padding: 12px;
	 border-color: #FBFAF5;
   border-width: 1px;
}
 .submit:hover {
	 background: #654321;
	 border-color: #FBFAF5;
   color: #fff;
}
 input, select, label, option {
	 background: #cfb17c;
	 width: 65%;
	 color: #FBFAF5;
	 border: none;
	 border-bottom: 1px solid rgba(246, 246, 246, 0.5);
	 padding: 1px;
	 margin: 7px;
}

input[type="date"] {
  color: #654321;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 300;
}

 input::placeholder, select::placeholder, label::placeholder, option::placeholder {
	 color: #654321;
	 letter-spacing: 2px;
	 font-size: 15px;
	 font-weight: 300;
}
 input:focus, select:focus, label:focus, option:focus {
  color: rgba(246, 246, 246, 1);
	 outline: none;
	 border-bottom: 1.2px solid rgba(101, 67, 33, 0.7);
	 font-size: 1em;
	 transition: 0.8s all ease;
}
 input:focus::placeholder, select:focus::placeholder, label:focus::placeholder, option:focus::placeholder {
	 opacity: 0;
}
 label, select, option {
	 font-family: 'Open Sans', sans-serif;
	 color: #654321;
	 font-size: 0.8em;
	 letter-spacing: 1px;
}
 .checkbox {
	 display: inline;
	 white-space: nowrap;
	 position: relative;
	 left: -62px;
	 top: 5px;
}
 input[type=option] {
	 width: 7px;
	 background: #ce7d88;
}
 .checkbox input[type="checkbox"]:checked + label {
	 color: #ce7d88;
	 transition: 0.5s all ease;
}



#map {
  height: 400px;
  width: 350px;
  background-color: c7ad7f;
  border-radius: 5px;
  opacity: 0.9;
}

/* Styling for full page display of Map */

/* Styling for Map side-bar popout upon result */
#panel {
  height: 100%;
  width: null;
  background-color: c7ad7f;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: all .2s ease-out;
}
 /* Map details pane pop up size */
 .open {
  width: 0px;
}

/* Styling for individual location details */
/* .hero {
  width: 100%;
  height: auto;
  max-height: 166px;
  display: block;
} */

/* .place,
p {
  font-family: 'open sans', arial, sans-serif;
  padding-left: 18px;
  padding-right: 18px;
} */

.details {
  color: darkslategrey;
}

a {
  text-decoration: none;
  color: cadetblue;
}
