<!DOCTYPE html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>CSS Responsive Login Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <div class="welcome">
      <div class="pinkbox">
        <div class="signin">
          <h1>A<span>cc</span>ount Sign<span>&rarr;</span>In</h1>
    <form class = "more-padding" autocomplete="off">
      <input type="text" class="fadeIn second" name="username" id="username" placeholder="Username" [(ngModel)]="username">
      <input type="password" id="password" class="fadeIn third" name="password" id="password" placeholder="password" [(ngModel)]="password">
      <button type="submit" class="button submit" (click)="login()">Log In</button>
    </form>
  </div>
</div>
<div class="leftbox">

</div>
<div class="rightbox">
  <br />
  <br />
  <div id ="two">
    <p>Ready for your next</p>
<div class="box">
  <ul>
    <li class="item-1">Adventure</li>
    <br />
    <li class="item-2">Study Sesh</li>
    <br />
    <li class="item-3">5k</li>
    <br />
    <li class="item-4">Meet Up</li>
    <br />
    <li class="item-5">Hobby</li>
    <br />
  </ul>
</div>
<p>?</p>
</div>
</div>
</div>
</div>

  </body>

