<body>
<section class="landingPageSec1">
  <div class="landingPageVidCon">
    <video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop></video>
  </div>
  <div class="content"div style = float:left>
    <h1>Cluster Café</h1>
    <h3><span class = "test"> "Adventure Awaits" </span></h3>
    <!-- <div class="code" div style = float:right>
      <h3><em> "Adventure Awaits" </em></h3>
      <span class="bracket"> Find your next: [ </span>
      <span class="changing-text"></span>
      <span class="bracket"> ] </span>
    </div> -->
    <button class="btn" (click)="goToLogin()">Login</button>
    <button class="btn" (click)="goToRegister()">Register</button>
  </div>
</section>
</body>
