.danger {
  background-color: red;
}
.warning {
  background-color: yellow;
}
.safe {
  background-color: green;
}
.complete {
  color: gray;
  text-decoration: line-through;
}
button{
  margin: 4px;
}
@media screen and (min-width: 1200px) {
  #card-category {
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap;
  }
}
.content {
  position: relative;
}
#right-panel-link {
  position: absolute;
  top: 0;
  right: 0;
}
