<!-- <p>post-list works!</p> -->
<h1>{{title}} <span class="badge badge-primary">{{getNumberOfPosts()}}</span></h1>
<!-- detail div -->
<div *ngIf='selected && !editPost'>
  <p>{{selected.id}}</p>
  <p>{{selected.content}}</p>
  <p>{{selected.task}}</p>
  <p>{{selected.completed}}</p>
  <button (click)='setEditPost()'>Edit</button>
  <button (click)='displayTable()'>Back</button>
</div>
<!-- edit task -->
<div *ngIf='editPost'>
   Task: <input type="text" name="post" placeholder="Post" [(ngModel)]='editPost.post' /><br />
   Completed: <input type="checkbox" id="completed" name="completed" [(ngModel)]='editPost.completed' /><br />
   content: <input type="text" name="content" placeholder="content" [(ngModel)]='editPost.content' /><br />
   <button (click)='editPost = null'>Cancel</button> <button (click)='updatePost(editPost)'>Save</button>
</div>
<table class="table table-striped table-hover" *ngIf='!selected'>
  <thead class="thead thead-dark">
    <th>Post</th>
    <th>Mark</th>
    <th>Completed</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td (click)='displayPost(post)'>{{post.title}}</td>
      <td> {{post.content}}</td>
      <!-- <td><input (change)="updatePost(post, false)" type="checkbox" [(ngModel)]='post.completed'></td> -->
      <td><button class="btn btn-danger" (click)="deletedPost(post.id)">X</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf='!selected'>
  <input type="text" name="post" placeholder="Add new post" [(ngModel)]="newPost" />
  <button (click)="addPost()">Submit</button>
</div>
