<h4>DEBUGGING MODE: User role - {{currentUser.role}}</h4>
<h1>{{title}} <span class="badge badge-primary">{{getNumberOfPosts()}}</span></h1>
<!-- detail div -->
<div *ngIf='selected && !editPost'>
  <p>Post Id: {{selected.id}}</p>
  <p>Post Title: {{selected.title}}</p>
  <p>Post Content: {{selected.content}}</p>

  <div class="row">
    <div class="col-1" *ngIf="selected.user.id === currentUser.id">
      <button class="btn btn-info" (click)='setEditPost()'>Edit</button>
    </div>
    <div class="col-1">
      <button class="btn btn-primary" (click)='displayTable()'>Back</button>
    </div>
    <div class="col-1" *ngIf="selected.user.id === currentUser.id || currentUser.role === 'admin'">
      <button class="btn btn-danger" (click)="deletedPost(selected.id)">Delete</button>
    </div>
  </div>

</div>
<!-- edit task -->
<div *ngIf='editPost'>
   Title: <input type="text" name="post" placeholder="Post" [(ngModel)]='editPost.title' /><br />
   content: <input type="text" name="content" placeholder="content" [(ngModel)]='editPost.content' /><br />
   <button class="btn btn-warning" (click)='editPost = null'>Cancel</button>
   <button class="btn btn-primary" (click)='updatePost(editPost)'>Save</button>

</div>
<table class="table table-striped table-hover" *ngIf='!selected'>
  <thead class="thead thead-dark">
    <th>Title</th>
    <th>Created At</th>
    <th>Content</th>
    <th>Author</th>
    <th></th>
    <th *ngIf="currentUser.role==='admin'">Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td (click)='displayPost(post)'>{{post.title}}</td>
      <td>{{post.createdAt | date:'short' }}</td>
      <td> {{post.content}}</td>
      <td>{{post.user.firstName}} {{post.user.lastName}}</td>
      <!-- <td><input (change)="updatePost(post, false)" type="checkbox" [(ngModel)]='post.completed'></td> -->
      <td>
        <button class="btn btn-info" (click)='displayPost(post)'>More Info</button>
        <button class="btn btn-warning" (click)='flagPost(post)' *ngIf="post.user.id !== currentUser.id && currentUser.role !== 'admin' && !post.flagged">Flag</button>
        <button class="btn btn-danger" (click)="deletedPost(post.id)" *ngIf="currentUser.role==='admin'">X</button>
      </td>
      <!-- <td *ngIf="currentUser.role==='admin'"><button class="btn btn-danger" (click)="deletedPost(post.id)">X</button></td> -->
    </tr>
  </tbody>
</table>
<form *ngIf='!selected' class="vertical-input-group" >
  <div class="input-group">
  <input type="text" name='title' placeholder="Title" [(ngModel)]='newPost.title' >
  </div>
  <div class="input-group">
  <input type="text" name='XXXX' placeholder="Content" [(ngModel)]='newPost.content'>
  </div>
  <div class ="input-group">
    <select id='category' name='category' [(ngModel)]='newPost.category.id'>
    <option *ngFor="let category of categories" [value]="category.id">
      {{category.name}}
    </option>
  </select>
  </div>
  <button (click)='addPost()' type="submit" class="btn btn-success btn-sm">New Post</button>
  </form>
<!-- DISPLAY A POST'S COMMENTS -->
  <div *ngIf='selected && !editPost' class="container">
    <h4>Comments</h4>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Comment</td>
        <td>Created At</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let postComment of postComments">
        <td>{{postComment.user.firstName}}</td>
        <td>{{postComment.content}}</td>
        <td>{{postComment.createdAt | date: "short"}}</td>
        <td>
          <button class="btn btn-info" (click)='setEditComment(postComment)' *ngIf="postComment.user.id === currentUser.id">Edit</button>
          <button class="btn btn-warning" (click)='flagComment(postComment)' *ngIf="postComment.user.id !== currentUser.id && currentUser.role !== 'admin' && !postComment.flagged">Flag</button>
          <button class="btn btn-danger" (click)="deleteComment(postComment)" *ngIf="postComment.user.id === currentUser.id || currentUser.role === 'admin'">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">

    <div class="col-1" *ngIf="selected.user.id === currentUser.id || currentUser.role === 'admin'">
      <button class="btn btn-danger" (click)="deletedPost(selected.id)">Delete</button>
    </div>
  </div>
	</div>
  <!-- ADD A NEW COMMENT TO SELECTED POST -->
	 <div *ngIf='selected && !editPost && !editedComment' >
		<h5><em>Leave a comment</em></h5>

		<form width="60%" class="container">
		  <div class="form-group">
		    <label>Comment</label>
		    <input type="text" class="form-control"  [(ngModel)]="newComment.content" name="content">
		  </div>
		  <button type="submit" class="btn btn-primary" (click)="addComment(selected.id)">Submit</button>
		</form>
	</div>
  <!-- EDIT COMMENT TO SELECTED POST -->
	 <div *ngIf='editedComment' >
		<h5><em>Edit comment</em></h5>

		<form width="60%" class="container">
		  <div class="form-group">
		    <label>Comment</label>
		    <input type="text" class="form-control"  [(ngModel)]="editedComment.content" name="content">
		  </div>
		  <button type="submit" class="btn btn-primary" (click)="editComment(editedComment)">Submit</button>
		</form>
	</div>

