<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h2 *ngIf="!selected">Posts</h2>
      <h5 *ngIf="!selected">Let others know what you are looking for</h5>
    </div>
    <div class="col-md-2 d-flex" *ngIf="!addNewPost && !selected">
      <div class="align-self-end">
        <button class="btn btn-primary" (click)="addNewPost = true">Add New Post</button>
      </div>
    </div>
  </div>
</div>
<!-- ADD A NEW POST -->
<div class="container overflow-hidden p-4" *ngIf='!selected && addNewPost'>
  <form class="vertical-input-group" >
    <div class="row g-2">
      <div class="col p-3">
          <label for="newTitle" class="form-label">Title</label>
          <input type="text" id="newTitle" name='title' placeholder="Title" [(ngModel)]='newPost.title' class="form-control">
      </div>
      <div class="col p-3">
          <label for="newCategory" class="form-label">Category</label>
          <select id='newCategory' name='category' [(ngModel)]='newPost.category.id' class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">
              {{category.name}}
            </option>
          </select>
      </div>
    </div>
    <div class="row g-2">
      <div class="col p-3">
        <div class="form-floating">
          <label for="floatingTextarea2">Adventure awaits</label>
          <textarea name="content" class="form-control" placeholder="I am looking for..." id="floatingTextarea2" style="height: 100px"[(ngModel)]='newPost.content'></textarea>
        </div>
      </div>
    </div>
    <div class="row g-2 d-flex flex-row-reverse">
      <button (click)='addPost()' type="submit" class="btn btn-success btn">New Post</button>
      <button (click)='cancelAddPost()' type="submit" class="btn btn-danger btn">Cancel</button>
    </div>
  </form>
  <hr>
</div>

<!-- detail div -->
<br>
<div *ngIf='selected && !editPost'>
  <div class="card">
    <div class="card-header">
      <h2>{{selected.title}}</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{selected.user.firstName}} {{selected.user.lastName}} ({{selected.user.pronouns}})</h5>
      <p class="card-text">{{selected.content}}</p>
      <button class="btn btn-primary" (click)='displayTable()'>Back</button>
      <button type="button" class="btn btn-outline-warning" (click)="flagPost(selected)" *ngIf="!selected.flagged"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
      </svg></button>
      <button type="button" class="btn btn-warning" (click)="unflagPost(selected)" *ngIf="selected.flagged">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
          <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
        </svg>
      </button>
      <button *ngIf="selected.user.id === currentUser.id || currentUser.role === 'admin'" class="btn btn-info" (click)='setEditPost()'>Edit</button>
      <button *ngIf="selected.user.id === currentUser.id || currentUser.role === 'admin'" class="btn btn-danger" (click)="deletedPost(selected.id)">Delete</button>
    </div>
  </div>
</div>
<br>
<!-- edit Post -->
<div *ngIf='editPost'>
   Title: <input type="text" name="post" placeholder="Post" [(ngModel)]='editPost.title' /><br />
   content: <input type="text" name="content" placeholder="content" [(ngModel)]='editPost.content' /><br />
   <button class="btn btn-warning" (click)='editPost = null'>Cancel</button>
   <button class="btn btn-primary" (click)='updatePost(editPost)'>Save</button>

</div>
<!-- See All Posts -->
<div *ngIf="!selected" class="container overflow-hidden p-4">
  <div class="container p-4">
    <button type="button" [ngClass]="buttonFill(null)" (click)="removeCategory()">Show All Categories</button>
    <button *ngFor="let cat of categories" type="button" name="{{cat.name}}" (click)="setCategory(cat)" [ngClass]="buttonFill(cat)">
      {{cat.name}}
    </button>
  </div>
	<div *ngFor="let post of (posts | flagged: currentUser.role)" ng-click="displayPost(post)" class="card" >
    <div class="row g-0">
      <div class="col-md-1">
        <div class="card-text">
          <h5 id="card-category" class="card-body bg-light">{{post.category.name}}</h5>
        </div>

      </div>
      <div class="col-md-9">

        <div class="card-body">
          <div>
              <h5 class="card-title" >{{post.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{post.category.name}} <br>
                {{post.user.firstName}} {{post.user.lastName}}
              </h6>
          </div>
        <p class="card-text">{{post.content}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Posted: {{post.createdAt | date: "short"}}</small>
          <small class="text-muted" *ngIf="post.updatedAt">, Updated At: {{post.updatedAt | date: "short"}}</small>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card-body">
            <div class="card-text text-center">
              <button class="btn btn-info" (click)='displayPost(post)'>More Info</button>
              <button type="button" class="btn btn-warning" (click)="unflagPost(post)" *ngIf="post.flagged">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                  <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                </svg>
              </button>
              <button type="button" class="btn btn-outline-warning" (click)="flagPost(post)" *ngIf="!post.flagged">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                  <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                </svg>
              </button>

              <button type="button" class="btn btn-outline-danger" (click)="deletedPost(post.id)" *ngIf="post.user.id === currentUser.id || admin">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>

            </div>


        </div>
      </div>

    </div>
	</div>
</div>

  <div *ngIf='selected && !editPost' class="container mt-5">
    <h4>Comments</h4>
    <div class="d-flex justify-content-center row" *ngFor="let postComment of postComments | flagged: currentUser.role">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info">
                        <div><span class="d-block font-weight-bold name">{{postComment.user.firstName}} {{postComment.user.lastName}}:</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">{{postComment.content}}</p>
                        <div range-slider floor="0" ceiling="19" dragstop="true" ng-model-low="lowerValue" ng-model-high="upperValue"></div>

                        <button id="right-panel-link" type="button" class="btn btn-outline-warning" (click)="flagComment(postComment)" *ngIf="!postComment.flagged"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                          <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                        </svg></button>
                        <button id="right-panel-link" type="button" class="btn btn-warning" (click)="unflagComment(postComment)" *ngIf="postComment.flagged">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                          </svg>
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteComment(postComment.id)" *ngIf="postComment.user.id === currentUser.id || admin">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                        </button>
                        <button type="button" class="btn btn-info" (click)="setEditComment(postComment)" *ngIf="postComment.user.id === currentUser.id">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
  <!-- ADD A NEW COMMENT TO SELECTED POST -->
	 <div *ngIf='selected && !editPost && !editedComment' >
		<!-- <h5><em>Leave a comment</em></h5> -->

		<form width="100%" class="container">
		  <div class="form-group">
		    <label><h5><em>Leave a comment</em></h5></label>
		    <input type="text" class="form-control"  [(ngModel)]="newComment.content" name="content">
		  </div>
		  <button type="submit" class="btn btn-primary" (click)="addComment(selected.id)">Submit</button>
		</form>
	</div>
  <!-- EDIT COMMENT TO SELECTED POST -->
	 <div *ngIf='editedComment' >
		<h5><em>Edit comment</em></h5>

		<form width="60%" class="container">
		  <div class="form-group">
		    <label>Comment</label>
		    <input type="text" class="form-control"  [(ngModel)]="editedComment.content" name="content">
		  </div>
		  <button type="submit" class="btn btn-primary" (click)="editComment(editedComment)">Submit</button>
		  <button type="submit" class="btn btn-warning" (click)="cancelEditComment()">Cancel</button>
		</form>
	</div>


